USE [master]
GO
/****** Object:  Database [json_veri]    Script Date: 14/04/2025 15:36:01 ******/
CREATE DATABASE [json_veri]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'json_veri', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\json_veri.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'json_veri_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\json_veri_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [json_veri].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [json_veri]
GO
/****** Object:  Table [dbo].[json_durum]    Script Date: 14/04/2025 15:36:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[json_durum](
	[person] [varchar](50) NULL,
	[year] [varchar](50) NULL,
	[company] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
